body{
    margin: 0 auto;
    width: 1300px;
}
header{
    width: 1300px;
    height: 800px;
    margin: 0 auto;
    background: url(./images/Vector.png) 650px 80px no-repeat;
    background-repeat: no-repeat;
    background-size: 600px;
}
nav{
    width: 100%;
    height: 10%;
}
.navbar{
    margin-top: 0px;
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
}
.list{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 200px;
}
.h-one{
    margin-top: 0;
    margin-left: 10px;
} 
.txt-color{
    color:  var(--green, #71A894);
    
}
.block-2{
    margin-left: 0px;
    width: 50%;
    height: 80%;

}
.imag-1{
    position: relative;
    width: 600px;
    height: 1%;
}
.imag-1 img{
    position: absolute;
    margin: -630px 0 0 595px;
    width: 700px;
}
.hero-1{
    font-size: 50px;
}
.btn{
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #71A894;
    width: 250px;
    height: 50px;
}
main{
    margin-top: 10px;
}
.h1-h-one,.text{
      display: flex;
      align-items: center;
      justify-content: center;
}

.p-1{
    color: var(--gray, #66645E);
    margin-top: 50px;
}
.h1-1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}







/* 1section */








body{
    width: 1300px;
    background: #F9F9F9;
    
  }
  
  .sections {
    display: flex;
    gap: 20px;
    margin-left: 170px;
    margin-top: 40px;
  }
  
  .modern {
    width: 300px;
    height: 250px;
    border-radius: 8px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    font-family: Proxima Nova;
  }
  
  .metiroc {
    width: 300px;
    height: 250px; 
    background: var(--white, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    font-family: Proxima Nova;
   
  }
  
  .enginered {
    width: 300px;
    height: 250px;
    border-radius: 8px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    font-family: Proxima Nova;
  }
  
  .h1-1 {
    color: var(--black, #303031);
    text-align: center;
    font-family: Bely Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; 
  
   
  }
  
  .para-1 { 
    margin-top: -25px;
      color: var(--black, #303031);
      text-align: center;
      font-family: Proxima Nova;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;  
      letter-spacing: -0.36px;
      
  }
   
  
  .img-1 {
    width: 70px ;
    height: 60px;
    margin-top: 30px;
    margin-left: 110px
    
  }
   
  .img-2 {
    width: 70px ;
    height: 60px;
    margin-top: 30px;
    margin-left: 110px
  }
   
  .img-3 {
    width: 70px ;
    height: 60px;
    margin-top: 30px;
    margin-left: 110px
  }
  .h4-h {
    margin-left: 75px;
    
   
  }
  
  .p2{
    margin-left: 20px;
    color: var(--black, #303031);
    text-align: center;
    font-family: Proxima Nova;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;  
    margin-top: 10px;
  }
  
   
















/* 2-section */









.sect-three{
    width: 1300px;
    margin: 0 auto;
    background-color:#F9F9F9;;
    
}.All{
    display: flex;
    gap: 120px;
    padding: 70px 0 ;
}
.style-wrap{
    font-size: 35px;
}
.all-boxtwo{
    width: 400px;
    height: 350px;
    border: 4px solid;
    box-shadow: 15px 15px 0 #71A894;
    border-radius: 16px;
    position: relative;
    
}
.all-box{
    position: relative;
    left: 50px;
}
.box-icon{
    width: 50px;
    height: 50px;
}
.dillion-box{
    /* width: 30px; */
    /* height: 20px; */
    display: flex;
    gap: 20px;
    position: relative;
    top: 20px;
    left: 40px;
}
.dilly{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
   }
   .style-boxtwo{
    position: relative;
    top: 5px;
    left: 40px;
   }

.style-one{
    position: relative;
    bottom: 20px;
    font-size: 18px;
}
.style-two{
    font-size: 10px;
    color: black;
    opacity: 0.6;
    position: relative;
    bottom: 35px;
}
.anna-olsen{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
}
.Anna-box{
    display: flex;
    gap: 20px;
    position: relative;
    top: 20px;
    left: 40px;
}
.anna-style{
    position: relative;
    bottom: 20px;
    font-size: 17px;
}
.anna-styletwo{
    font-size: 10px;
    color: black;
    opacity: 0.6;
    position: relative;
    bottom: 35px;
    }
.Kas-box{
    display: flex;
    gap: 20px;
    position: relative;
    top: 20px;
    left: 40px;

}
.kas{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
}
.kass-style{
    position: relative;
    bottom: 20px;
    font-size: 17px;
}
.kas-styletwo{
    font-size: 10px;
    color: black;
    opacity: 0.6;
    position: relative;
    bottom: 35px;
}
























@import url(https://db.onlinewebfonts.com/c/f05f148ec6596f0b75375fa566aaf1fe?family=Bely+Display+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/bf9f5d50c1b928ff21436517a1a95ad9?family=Proxima+Nova);
@import url(https://db.onlinewebfonts.com/c/60001ccb6f86b2e63df985f9288ec314?family=NovelloPro);
.section-3{
    width: 1300px;
    height: 600px;
    display: flex;
    margin: 0 auto;
}
.photo{
    width: 100px;
    height: 100px;
    margin-left: 0;
    border-radius: 50%;
    margin-top: -20px;

}
.jJones{
    width: 400px;
    height: 350px;
    border: 3px solid #303031;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 50px;
    margin-top: 100px;

}
.toptext{
    width: 90%;
    height: 15%;
    margin: 20px auto;
    display: flex;
}
.toptext h4{
    margin: 0 0 0 15px;
    font-family: "NovelloPro";
}
.toptext p{
    font-size: 13px;
    margin: 5px 0 0 15px;
}
.midtext p{ 
    width: 80%;
    height: 20%;
    font-size: 14px;
    margin-left: 35px;
}
.midtext{
    margin-top: 30px;
}
.btmtext{
    display: flex;
    gap: 70px;
    margin-left: 35px;
}
.jonesbtn{
    width: 80%;
    height: 15%;
    background-color: #303031;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 25px;

}
.vote{
    font-family: "NovelloPro";
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}
button{
    width: 100%;
    height: 100%;
    background: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.onboard{
    width: 45%;
    height: 350px;
    margin-left: 170px;
    margin-top: 100px;
    padding-top: 20px;
}
.boardtext h2{
    font-family: "Bely Display W00 Regular";
}
.boardparagraf{
    font-family: "Proxima Nova";
}























.section4 {
    display: flex;
    max-width: 1300px;
    margin: 100px auto;
}

.sect4-title {
    font-size: 44px;
    font-weight: 800;
    margin: 20px 0 0 0;
}

.sect4-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #303031;
}

.sect4-right-box {
    position: relative;
}

.sect4-box {
    position: absolute;
    width: 450px;
    height: 140px;
    border: 4px solid #303031;
    border-radius: 15px;
    box-shadow: 0 5px 0 #71A894;
    top: -80px;
    left: 100px;
}

.sect4-box-title {
    font-size: 18px;
    margin: 25px 0 0 20px;
}

.sect4-box-text {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 0 20px;
}

.sect4-box-link {
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 8px;
    color: #fff;
    background-color: #71A894;
    border-radius: 30px;
    right: 10px;
    top: 10px;
}

.sect4-box2 {
    position: absolute;
    width: 340px;
    height: 240px;
    background-color: #F3F0EA;
    border: 4px solid #303031;
    border-radius: 15px;
    top: 90px;
    left: 30px;
}

.sect4-box2-title {
    font-style: 25px;
    font-weight: 600;
    margin: 25px 0 0 20px;
}

.sect4-writer-box {
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;
}

.sect4-writer-image {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.sect4-writer-name {
    font-size: 18px;
    margin: 0 0 0 10px;
}


.sect4-box3 {
    position: absolute;
    width: 190px;
    height: 260px;
    border: 4px solid #71A894;
    border-radius: 15px;
    top: 110px;
    left: 395px;
}

.img-aRose {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 20px 0 -10px 65px;
}

.sect4-box3-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.sect4-box3-w {
    font-size: 14px;
    font-weight: 400;
    color: #66645E;
    text-align: center;
    margin: -15px 0 0 0;
}

.rate-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect4-box3-text {
    color: #303031;
}

.sect4-star-image {
    margin: 0 5px 0 30px ;
}

.sect4-button {
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #303031;
    border: none;
    border-radius: 16px;
    margin: 0 0 0 20px;
}






















.selection5{
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    background: #F9F9F9;
}
.selection5-h1{
    width: 850px;
    height: 64px;
    color:  #303031;
text-align:center;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 64px;
margin: 0 auto;
}
.selection5-p{
    width: 850px;
    height: 50px;
    color: var(--black, #303031);
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
align-items: center;
text-align: center;
margin: 0 auto;
position: relative;
top: 30px;
}
.seletion5-div{
    width: 95%;
    height: 240px;
    /* border: 1px solid; */
    position: relative;
    top: 70px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}
.s-div1{
    width: 407px;
    height: 100%;
    /* border: 1px solid; */
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);


}
.s-div{
    flex: 4;
    height: 85%;
    /* border: 1px solid; */
    border-radius: 16px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}
.selection5-h5{
    width: 370px;
    /* border: 1px solid; */
    height: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    position: relative;
    top: 20px;
    font-size: 18px;
    font-style: normal;
font-weight: 700;
line-height: 24px; 
letter-spacing: -0.36px;
}
.selection5-h6{
    color: #303031;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.32px;
width: 370px;
height: 72px;
/* border: 1px solid; */
margin: 0 auto;
position: relative;
top: 35px;
}
.selection5-btn{
    width: 60px;
    height: 30px;
    display: inline-flex;
padding: 4px 8px;
align-items: center;
gap: 10px;
border-radius: 40px;
background:#71A894;
border: 0;
position: relative;
top: 70px;
left: 15px;
color: var(--white, #FFF);
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500; 
line-height: 24px;
letter-spacing: -0.32px;
}
.selection5-button-p{
    color: var(--black, #303031);
text-align: right;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
position: relative;
top: 27px;
left: -15px;
}
.s-div-h5{
    width: 355px;
    height: 24px;
    /* border: 1px solid; */
    margin: 0 auto;
    position: relative;
    top: 20px;
    color: var(--black, #303031);
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
}
.s-div-h6{
    width: 355px;
    height: 72px;
    /* border: 1px solid; */
    margin: 0 auto;
    position: relative;
    top: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
color: #303031;
}
.s-div-btn{
    width: 60px;
    height: 30px;
    border-radius: 40px;
    display: inline-flex;
padding: 4px 6px;
align-items: center;
/* gap: 10px; */
border: 0;
background-color: #71A894;
position: relative;
top: 60px;
left: 15px;
color: #FFF;
}
.s-div-p{
    color: #303031;
    text-align: right;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    position: relative;
    top: 15px;
    left: -15px;
}
.button-btn{
    display: inline-flex;
padding: 20px 20px;
flex-direction: column;
align-items: center;
width: 136px;
height: 64px;
margin: 0 auto;
position: relative;
display: flex;
align-items: center;
top: 120px;
border-radius: 8px;
background-color: #303031;
color: #FFF;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
.s-button{
    width: 100%;
    height: 80px;
    /* border: 1px solid; */
    position: relative;
    top: 170px;
    display: flex;
}
.s-btn{
    
    width: 10%;
    height: 100%;
    /* border: 1px solid; */
    background-image: url(./image/Grid.png);
    background-repeat: no-repeat;
    
}
.s-btn1, .s-btn1, .s-btn2, .s-btn3, .s-btn4, .s-btn5, .s-btn6, .s-btn7, .s-btn8, .s-btn9{
    
    width: 10%;
    height: 100%;
    /* border: 1px solid; */
    background-image: url(./image/Grid.png);
    background-repeat: no-repeat;
    
}






















*{
    box-sizing: border-box;
}
.SIX{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 500px;
    border-radius:10px;
    margin: 0 auto;
    
}
.left{
    margin-left: 50px;
}
h1{
    color: var(--black, #303031);
    font-size: 48px;
    font-style: normal;
}
.name-topic{
    margin-bottom: 25px;
}
.tag{
    color: var(--black, #303031);
font-size: 18px;
font-style: normal;
margin-bottom: 25px;
width: 600px;
}
.BTN{
    border: none;
    padding: 10px,10px;
    border-radius: 4px;
    background: #71A894;
    color: white;
    font-size: 13px;
    width: 200px;
    height: 64px;
    
   
}

/* footer */
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px;
    height: 100px;
    margin: 0 auto;
    justify-content: space-evenly;
}
.color{
    color: var(--green, #71A894);
}
.right-2{
    display: flex;
    justify-content: end;
    gap: 50px;
}.h-4{
    margin-right: 600px;
}