@import url(https://db.onlinewebfonts.com/c/f05f148ec6596f0b75375fa566aaf1fe?family=Bely+Display+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/bf9f5d50c1b928ff21436517a1a95ad9?family=Proxima+Nova);
@import url(https://db.onlinewebfonts.com/c/60001ccb6f86b2e63df985f9288ec314?family=NovelloPro);
.section-3{
    width: 1300px;
    height: 700px;
    display: flex;
    margin: 0 auto;
}
.photo{
    width: 100px;
    height: 100px;
    margin-left: 0;
    border-radius: 50%;
    margin-top: -20px;

}
.jJones{
    width: 400px;
    height: 350px;
    border: 3px solid #303031;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 50px;
    margin-top: 100px;

}
.toptext{
    width: 90%;
    height: 15%;
    margin: 20px auto;
    display: flex;
}
.toptext h4{
    margin: 0 0 0 15px;
    font-family: "NovelloPro";
}
.toptext p{
    font-size: 13px;
    margin: 5px 0 0 15px;
}
.midtext p{ 
    width: 80%;
    height: 20%;
    font-size: 14px;
    margin-left: 35px;
}
.midtext{
    margin-top: 30px;
}
.btmtext{
    display: flex;
    gap: 70px;
    margin-left: 35px;
}
.jonesbtn{
    width: 80%;
    height: 15%;
    background-color: #303031;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 25px;

}
.vote{
    font-family: "NovelloPro";
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}
button{
    width: 100%;
    height: 100%;
    background: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.onboard{
    width: 45%;
    height: 350px;
    margin-left: 170px;
    margin-top: 100px;
    padding-top: 20px;
}
.boardtext h2{
    font-family: "Bely Display W00 Regular";
}
.boardparagraf{
    font-family: "Proxima Nova";
}
