body{
    width: 1300px;
    height: 700px;
    background: url(./images/Vector.png) 630px 100px no-repeat;
    background-repeat: no-repeat;
    background-size: 600px;
}
header{
    width: 1300px;
    height: 600px;
    border: 1px solid;
    margin: 0 auto;

}
.navbar{
    margin-top: 40px;
    display: flex;
    padding-left: 40px;
}
.list{
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 200px;
}
.h-one{
    margin-top: 0;
    margin-left: 10px;
} 
.txt-color{
    color:  var(--green, #71A894);;
}
.block-2{
    margin-left: 40px;
}
.img-1{
    position: relative;
}
.img-1 img{
    position: absolute;
    margin: -310px 0 0 470px;
    width: 700px;
}
.h-1{
    font-size: 50px;
}
.btn{
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #71A894;
}
main{
    margin-top: 300px;
}
.h1-h-one,.text{
      display: flex;
      align-items: center;
      justify-content: center;
}
.p-1{
    color: var(--gray, #66645E);
}
.h1-1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}